[Unit]
Description=Reverse Tunnel to the jump host
After=network.target
[Service]
EnvironmentFile=/etc/sshrevtun.env
ExecStart=/usr/bin/ssh -nNT -o StrictHostKeyChecking=no -o ExitOnForwardFailure=yes -o ServerAliveInterval=5 -i /root/.ssh/id_rsa_jump -R ${JUMP_PORT}:localhost:22 ec2-user@${JUMP_IP}
KillMode=mixed
